{% extends 'base.html' %}

{% block body %}


<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }


</style>

<table class="">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>File Name</th>
        <th>View File</th>
        <th>Download File</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post['id'] }}</td>
        <td>{{ post['title'] }}</td>
        <td>{{ post['fileName'] }}</td>
        <td><a style="" href="{{ url_for('display', post_id=post['id']) }}">
            <button type="button" class="btn btn-outline-secondary">View File</button>
        </a></td>
        <td><a style="" href="{{ url_for('download', post_id=post['id']) }}">
            <button type="button" class="btn btn-outline-secondary">Download File</button>
        </a></td>
    </tr>
    {% endfor %}
</table>

{% endblock body %}
