{% extends 'base.html' %}

{% block body %}

<h1>{% block title %} Posts {% endblock %}</h1>
<br>

    <div class="d-grid gap-2 d-md-block">
        {% for post in posts %}
        <a style="float:left" href="{{ url_for('posts', post_id=post['id']) }}">
            <button type="button" class="btn btn-outline-primary">{{ post['title'] }}</button>
        </a>
        <br><br>
        <span class="text-start">Posted: {{ post['timeCreated'] }}</span>
        <hr>
        {% endfor %}
    </div>

    {% endblock body %}




