<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div>
        <a href = "{{ url_for('index')}}">
            <div class = "button button1">
            Home
            </div>
        </a>
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>


</body>

</html>